<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head></head>
<body>
<h1>Sri Subramanya College of Engineering and Technology, Palani</h1>
<h3>Department of Electronics and Communication and Engineering</h3>
<h4>AN INTELLIGENT SELF  LEARNING SYSTEM FOR HOME AUTOMATION USING IOT
</h4>
<p>A Project By</p>
<li>
<ul>VIGNESHWARAN S</ul>
<ul>SUKUMAR K</ul>
<ul>SATHEESH KUMAR M </ul>
<ul>SATHAM HUSSIAN A </ul>
</li>
</body>
</html>
