<% provide(:title, "Off")%>
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		document.getElementById("test").onclick = function() {
    window.open("http://www.hadronsoft.com/project15/setstatus.php?var1=*0", '_blank', 'location=yes,height=1,width=1,scrollbars=no,status=yes');
    
  }
	</script>
</head>
<body>
<h3>Remote switch controller using IoT technology</h3>
<br>
<br><br><br><br><br>
<section style="text-align: center"><%= link_to image_tag("off.png", alt: "Off", id: "test"), on_path%>
</section>



</body>
</html>