<% provide(:title, "Off")%>
<!DOCTYPE html>
<html>
<head></head>
<body>
<h3>Remote switch controller using IoT technology</h3>
<br>
<br><br><br><br><br>
<section style="text-align: center"><%= link_to image_tag("off.png", alt: "Off"), on_path%>
</section>


</body>
</html>