<% provide(:title, "On")%>
<!DOCTYPE html>
<html>
<head></head>
<body>
<h3>Remote switch controller using IoT technology</h3>
<br>
<br><br><br><br><br>
<section style="text-align: center"><%= link_to image_tag("on.png", alt: "On",onclick: changeImage(1)), off_path%>
</section>


</body>
</html>