<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Project Demo", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Log View",'http://hadronsoft.com/project15/dataibrd1logview.php'  %></li>
          </ul>
        </nav>
      </div>
    </header>